.main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.chartContainer {
  width: 100%;
  max-width: 100%; /* Ancho máximo para las gráficas */
  margin: 0 auto; /* Centrar gráficas horizontalmente */
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.chartContainer h2 {
  text-align: center;
  margin-bottom: 20px;
}

.chartContainer canvas {
  width: 100% !important;
  height: 600px !important; /* Ajusta la altura de las gráficas */
}
